.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
  }
  
  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-images img {
    width: 100%;
  }


  
  

  